<div>
    <div class="feeds" infinite-scroll='loadMore()' infinite-scroll-distance='2'>
      <div class="feeds-status" ng-repeat='status in statuses'>
        <div class="picture" style="{{ getStatusCover(status) }};"></div>
        <div class="detail">
          <div class="title">{{ status.title }}</div>
          <div class="info"><span class="time">{{ getStatusTime(status) }}</span> · <span class="sender">{{ getStatusUser(status) }}</span></div>
        </div>
      </div>
    </div>
</div>
