<div ng-if="status" class="feeds-status">
  <div class="detail">
    <div class="title">{{ status.title }}</div>
    <div class="info">
      <span class="time">{{ getStatusTime(status) }}</span>
      ·
      <span ng-click="goToProfile(status)" stop-event="click" class="sender">{{ getStatusUser(status) }}</span>
    </div>
  </div>

  <div class="picture" style="{{ getStatusCover(status) }};"></div>

  <div class="detail">
    <div class="subtitle">{{ status.subtitle }}</div>

    <p class="content">
      {{ status.content }}
    </p>

    <span class="glyphicon glyphicon-leaf"></span>
  </div>

  <div class="detail" ng-if="canDelete(status)">
    <button class="btn btn-lg btn-danger btn-block" ng-click="deletePost(status)">Delete Post</button>
  </div>
</div>
