.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(238, 238, 245, 0.7);
}

.view-container {
  height: 100%;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-header {
  padding-top: 16px;
}

.main {
  height: 100%;
  position: relative;
}

.main .post {
  font-size: 32px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.feeds {
  background-color: #f0f0f0;
}

.feeds-status {
  width: 100%;
  margin-bottom: 4px;
  position: relative;
  background-color: #fafaff;
  -ms-word-break: break-all;
  word-break: break-all;
}

.feeds-status .picture {
  width: 100%;
  height: 200px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.feeds-status .picture .upload-btn {
  height: 48px;
  margin-top: 76px;
}

.feeds-status .detail {
  padding: 14px 20px 14px 20px;
}

.feeds-status .title {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}

.feeds-status .info {
  margin-top: 14px;
  font-size: 12px;
  font-weight: normal;
}

.feeds-status .time {
  color: rgba(0, 0, 0, 0.54);
}

.feeds-status .sender {
  color: #003fa7;
}

.feeds-status .subtitle {
  font-size: 18px;
}

.feeds-status .content {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  height: 100%;
}

.feeds-status input, input:focus, input:active, textarea {
  outline: 0;
  width: 100%;
  border: none;
  background: #fafaff;
  resize: none;
}

.profile {
  padding: 14px;
}

.profile .lead {
  font-size: 14px;
}

.profile .name {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
}

.profile .description {
  font-size: 20px;
  margin-bottom: 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.post-view {
  height: 100%;
}
